@import "libs/_variables.scss";
@import "libs/_reset.scss";
@import "libs/_mixins.scss";
@import "sous_fichiers/images";
@import "sous_fichiers/texte";

body {
  min-height: 100vh;
  width: 100%;
  background: #fff;
  color: #161616;
  overflow-x: hidden;
  position: relative;

  
}
