.container-images {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  padding: 0;
  @include flexMid;
  flex-direction: column;
  padding-bottom: 0px;
}

.content-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff90;
  z-index: 5;
}

img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}