.content-text {
  color: #111;
  @include flexMid;
  flex-direction: column;
  z-index: 100;
  position: relative;

  h1,
  h2 {
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size:clamp(15px, calc(10px + 2.2vh), 3.3vh);
    width: 100%;
    @include flexMid;
    flex-wrap: nowrap;
    text-align: center;
    margin: 15px 0;
  }

  h1{
    font-size:clamp(20px, calc(12px + 2.7vh), 4vh)
}
}

.text1{
    transform: translateY(-50vh);
    opacity:0.01
}
.text2{
    transform: translateX(-200vw) translateY(-100px);
    opacity:0.01
}
.text3{
    transform: translateX(200vw);
    opacity:0.01
}

.transparent{
    color:#fff;
    position: absolute;
    z-index: 0;
}

@media only screen and (max-width: 768px) {
    
    .content-text {

        transform: translateY(-10vh);

      h1 {
        font-size: clamp(20px, calc(12px + 2.1vh), 3.2vh);
      }
      h2 {
        font-size: clamp(15px, calc(10px + 1.8vh), 2.6vh);
      }
    }
  }
